<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="anthea.secondhand_market.dao.SellMapper">
    <select id="queryByGoodsId" resultType="anthea.secondhand_market.domain.Sell">
        select * from `sell` where goods_id = #{goodsId}
    </select>
    <select id="queryByUserId" resultType="anthea.secondhand_market.domain.Sell">
        select * from `sell` where seller_id = #{userId}
    </select>
</mapper>